<div class="content-wrapper">
    <section class="content-header">
        <div class="col-md-4"><h1>{$category_products_in_category}</h1></div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{$home_menu_link}"><i class="fa fa-dashboard"></i>&nbsp;{$home_menu_text}</a></li>
                <li><a href="{$category_menu_link}"><i class="fa fa-tags"></i>&nbsp;{$category_menu_text}</a></li>
                <li><a href="/admin/categories/{$category.idcategory}"><i class="fa fa-tag"></i>&nbsp;{$category.descategory}</a></li>
                <li class="active"><a href="/admin/categories/{$category.idcategory}/products"><i class="fa fa-link"></i>&nbsp;Produtos</a></li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12" style="padding: 0">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{$category_all_products}</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>{$category_column_name}</th>
                                        <th style="width: 240px">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$productsNotRelated"}
                                        <tr>
                                            <td>{$value.idproduct}</td>
                                            <td>{$value.desproduct}</td>
                                            <td>
                                                <a href="/admin/categories/{$category.idcategory}/products/{$value.idproduct}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i>&nbsp;{$default_add_button}</a>
                                            </td>
                                        </tr>
                                    {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">{$category.descategory}</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>{$category_column_name}</th>
                                        <th style="width: 240px">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$productsRelated"}
                                    <tr>
                                        <td>{$value.idproduct}</td>
                                        <td>{$value.desproduct}</td>
                                        <td>
                                        <a href="/admin/categories/{$category.idcategory}/products/{$value.idproduct}/remove" class="btn btn-danger btn-xs pull-right"><i class="fa fa-arrow-left"></i>&nbsp;{$default_remove_button}</a>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>        
            </div>        
        </div>
    </section>
</div>