<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-4">
            <h1>{$title_home}</h1>
            <!-- <small>Optional description</small> -->
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{$home_menu_link}"><i class="fa fa-dashboard"></i> {$home_menu_text}</a></li>
            </ol>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

    <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->