<div class="content-wrapper">
    <section class="content-header">
        <div class="col-md-4"><h1>{$product_title}</h1></div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{$home_menu_link}"><i class="fa fa-dashboard"></i>&nbsp;{$home_menu_text}</a></li>
                <li><a href="{$product_menu_link}"><i class="fa fa-cubes"></i>&nbsp;{$product_title}</a></li>
                <li><a href="/admin/products/{$product.idproduct}"><i class="fa fa-edit"></i>&nbsp;{$product_title_edit}</a></li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="col-md-12">
                            <h3 class="box-title">{$product_title_edit}</h3>
                        </div>
                    </div>
                    <form role="form" action="/admin/products/{$product.idproduct}" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="desproduct">{$product_label_name}</label>
                                    <input type="text" class="form-control" id="desproduct" name="desproduct" placeholder="{$product_input_name}" value="{$product.desproduct}">
                                </div>
                                <div class="form-group">
                                    <label for="vlprice">{$product_label_price}</label>
                                    <input type="number" class="form-control" id="vlprice" name="vlprice" step="0.01" placeholder="{$product_input_price}" value="{$product.vlprice}">
                                </div>
                                <div class="form-group">
                                    <label for="vlwidth">{$product_label_width}</label>
                                    <input type="number" class="form-control" id="vlwidth" name="vlwidth" step="0.01" placeholder="{$product_input_width}" value="{$product.vlwidth}">
                                </div>
                                <div class="form-group">
                                    <label for="vlheight">{$product_label_height}</label>
                                    <input type="number" class="form-control" id="vlheight" name="vlheight" step="0.01" placeholder="{$product_input_height}" value="{$product.vlheight}">
                                </div>
                                <div class="form-group">
                                    <label for="vllength">{$product_label_length}</label>
                                    <input type="number" class="form-control" id="vllength" name="vllength" step="0.01" placeholder="{$product_input_length}" value="{$product.vllength}">
                                </div>
                                <div class="form-group">
                                    <label for="vlweight">{$product_label_weight}</label>
                                    <input type="number" class="form-control" id="vlweight" name="vlweight" step="0.01" placeholder="{$product_input_weight}" value="{$product.vlweight}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="file">{$product_label_photo}</label>
                                    <input type="file" class="form-control" id="file" name="file" value="{$product.vlweight}">
                                    <div class="box box-widget">
                                        <div class="box-body">
                                            <img class="img-responsive" id="image-preview" src="{$product.desphoto}" alt="Photo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success">{$default_update_button}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.querySelector('#file').addEventListener('change', function()
    {
        var file = new FileReader();
        file.onload = function()
        {
            document.querySelector('#image-preview').src = file.result;
        }
        file.readAsDataURL(this.files[0]);
    });
</script>