<div class="content-wrapper">
    <section class="content-header">
        <div class="col-md-4"><h1>{$user_title}</h1></div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{$home_menu_link}"><i class="fa fa-dashboard"></i>&nbsp;{$home_menu_text}</a></li>
                <li><a href="{$user_menu_link}"><i class="fa fa-users"></i>&nbsp;{$user_menu_text}</a></li>
                <li class="active"><a href="/admin/users/:iduser"><i class="fa fa-edit"></i>&nbsp;{$user_title_update}</a></li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="col-md-12">
                            <h3 class="box-title">{$user_title_update}</h3>
                        </div>
                    </div>
                    <form role="form" action="/admin/users/{$user.iduser}" method="post">
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="desperson">{$user_label_name}</label>
                                    <input type="text" class="form-control" id="desperson" name="desperson" placeholder="{$user_input_name}" value="{$user.desperson}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="deslogin">{$user_label_login}</label>
                                    <input type="text" class="form-control" id="deslogin" name="deslogin" placeholder="{$user_input_login}" value="{$user.deslogin}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nrphone">{$user_label_phone}</label>
                                    <input type="tel" class="form-control" id="nrphone" name="nrphone" placeholder="{$user_input_phone}" value="{$user.nrphone}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="desemail">{$user_label_email}</label>
                                    <input type="email" class="form-control" id="desemail" name="desemail" placeholder="{$user_input_email}" value="{$user.desemail}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="checkbox" name="inadmin" value="1" {if="$user.inadmin == 1"}checked{/if}>
                                &nbsp;<label>{$user_label_admin}</label>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success">{$default_update_button}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>