<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="col-md-4">
    <h1>{$title_create}</h1>
  </div>
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="{$home_menu_link}"><i class="fa fa-dashboard"></i>&nbsp;{$home_menu_text}</a></li>
      <li><a href="{$user_menu_link}"><i class="fa fa-users"></i>&nbsp;{$user_menu_text}</a></li>
      <li class="active"><a href="/admin/users/create"><i class="fa fa-user-plus"></i>&nbsp;{$user_menu_button_create}</a></li>
    </ol>
  </div>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <!-- <div class="box-header with-border">
          <h3 class="box-title">Novo Usuário</h3>
        </div> -->
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-footer">
          <form role="form" action="/admin/users/create" method="post">
            <div class="col-md-6">
              <div class="form-group">
                <label for="desperson">{$label_name}</label>
                <input type="text" class="form-control" id="desperson" name="desperson" placeholder="{$input_name}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="deslogin">{$label_login}</label>
                <input type="text" class="form-control" id="deslogin" name="deslogin" placeholder="{$input_login}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nrphone">{$label_phone}</label>
                <input type="tel" class="form-control" id="nrphone" name="nrphone" placeholder="{$input_phone}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="desemail">{$label_email}</label>
                <input type="email" class="form-control" id="desemail" name="desemail" placeholder="{$input_email}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="despassword">{$label_pass}</label>
                <input type="password" class="form-control" id="despassword" name="despassword" placeholder="{$input_pass}">
              </div>
            </div>
            <div class="col-md-6" style="margin-top:26px"></div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="checkbox" name="inadmin" value="1">&nbsp;<label>{$label_admin}</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" class="btn btn-success pull-right">{$user_menu_button_finish}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->