<div class="content-wrapper">
    <section class="content-header">
        <div class="col-md-4"><h1>{$user_title}</h1></div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="{$home_menu_link}"><i class="fa fa-dashboard"></i>&nbsp;{$home_menu_text}</a></li>
                <li><a href="{$user_menu_link}"><i class="fa fa-users"></i>&nbsp;{$user_menu_text}</a></li>
                <li class="active"><a href="/admin/users/create"><i class="fa fa-user"></i>&nbsp;{$user_title_create}</a></li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">{$user_title_create}</h3>
                    </div>
                    <form role="form" action="/admin/users/create" method="post">
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="desperson">{$user_label_name}</label>
                                    <input type="text" class="form-control" id="desperson" name="desperson" placeholder="{$user_input_name}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="deslogin">{$user_label_login}</label>
                                    <input type="text" class="form-control" id="deslogin" name="deslogin" placeholder="{$user_input_login}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nrphone">{$user_label_phone}</label>
                                    <input type="tel" class="form-control" id="nrphone" name="nrphone" placeholder="{$user_input_phone}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="desemail">{$user_label_email}</label>
                                    <input type="email" class="form-control" id="desemail" name="desemail" placeholder="{$user_input_email}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="despassword">{$user_label_pass}</label>
                                    <input type="password" class="form-control" id="despassword" name="despassword" placeholder="{$user_input_pass}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="checkbox" name="inadmin" value="1">&nbsp;<label>{$user_label_admin}</label>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">{$default_register_button}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>